.footer-wrapper {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3rem 0;
	background-color: $dsared;
	a {
		color: white;
	}

}

.social-media-wrapper {
	grid-area: footer-sm;
}

.footer-sm__content {

}

.footer-sm__flex-wrapper {

}

ul.footer-sm__row {
	position: relative;
	display: flex;
	align-items: center;
	margin: .5rem 0;
	padding-left: 0;
	list-style-type: none;
}

.footer-sm__svg {
	padding-right: 1rem;
	img {
		height: 32px;
	}
}

.footer-sm__type {
	width: 6rem;
	padding-right: 1rem;
	font-weight: bold;
}

.footer-sm__user {
	a {
		text-decoration: none;
		color: white;
		border-bottom: 1px solid white;
		transition: color .3s, border-bottom .3s;
		&:hover, &:focus {
			color: black;
			border-bottom: 1px solid black;
		}
	}
}

// ******

.footer__link-list {

}

.footer-list__link {

}