	<script type="text/javascript" src="{{ 'assets/js/main.js' | relative_url }}"></script>
	<footer class="footer-wrapper">
		<div class="footer-border">

			<div class="footer__logo"><img alt="red and white DSA hands logo" src="{{ 'assets/img/svg/dsa-logo--red-white.svg' | relative_url }}"></div>

			<ul class="footer__link-list">
			  <li class="footer-list__link"><a href="{{ '/about' | relative_url }}">About</a></li>
			  <li class="footer-list__link"><a href="{{ '/projects' | relative_url }}">Campaigns</a></li>
			  <li class="footer-list__link"><a href="{{ '/blog' | relative_url }}">Blog</a></li>
			  <li class="footer-list__link"><a href="{{ '/resources' | relative_url }} ">Resources</a></li>
			  <li class="footer-list__link"><a href="{{ '/contact' | relative_url }}">Contact</a></li>
			  <li class="footer-list__link"><a href="https://www.patreon.com/dsarichmond">Donate</a></li>
			  <li class="footer-list__link"><a href="{{'/get-involved' | relative_url }}">Get Involved</a></li>
			</ul>

		</div>
	</footer>
</body>
</html>