<section class="social-media-wrapper">
	<h2 class="sm__title">Social Media</h2>

	<section class="sm__content">
		<div class="sm__flex-wrapper">
			<ul class="sm__row">
				<li class="sm__svg"><img alt="Twitter logo" src="{{ 'assets/img/svg/social-media/twitter-black.svg' | relative_url }}"></li>
				<li class="sm__type">Twitter:</li>
				<li class="sm__user"><a href="https://twitter.com/dsarichmond">@dsarichmond</a></li>
			</ul>
			<ul class="sm__row">
				<li class="sm__svg"><img alt="Instagram logo" src="{{ 'assets/img/svg/social-media/instagram-black.svg' | relative_url }}"></li>
				<li class="sm__type">Instagram:</li>
				<li class="sm__user"><a href="https://www.instagram.com/dsarichmond/?hl=en">dsarichmond</a></li>
			</ul>
			<ul class="sm__row">
				<li class="sm__svg"><img alt="Facebook logo" src="{{ 'assets/img/svg/social-media/facebook-black.svg' | relative_url }}"></li>
				<li class="sm__type">Facebook:</li>
				<li class="sm__user"><a href="https://www.facebook.com/DSARichmond/">DSA Richmond</a></li>
			</ul>
			<ul class="sm__row">
				<li class="sm__svg"><img alt="Email logo" src="{{ 'assets/img/svg/social-media/envelope-outline-black.svg' | relative_url }}"></li>
				<li class="sm__type">Email:</li>
				<li class="sm__user"><a href="mailto:admin@dsarichmond.org">admin@dsarichmond.org</a></li>
			</ul>
			<ul class="sm__row">
				<li class="sm__svg"><img alt="Patreon logo" src="{{ 'assets/img/svg/social-media/patreon-black.svg' | relative_url }}"></li>
				<li class="sm__type">Patreon:</li>
				<li class="sm__user"><a href="https://www.patreon.com/dsarichmond">patreon.com/dsarichmond</a></li>
			</ul>
		</div>
	</section>
</section>