.single-wrapper
.single-resource-wrapper {
	margin: 0 auto;
	padding: 0 8.33%;
	padding-top: 72px;
	@media screen and (max-width: 600px) {
		padding: 0 4.167%;
		padding-top: 72px;
	}
}

.single-resource-wrapper {
	max-width: calc(800px + 16.67vw);
	padding-top: 120px;
}

.single-resource__back-button {
	margin: 1.5rem 0;
}

.single__back-button {
	padding-top: 1rem;
}

.single-button__link {
	text-decoration: none;
	color: black;
	transition: border-bottom .3s;
	&:hover, &:focus {
		border-bottom: 1px solid black;
	}
}

.single__title-wrapper {
	padding-top: 3rem;
}

.single__category {
	display: inline-block;
	padding: 1px 4px;
	font-weight: bold;
	color: white; // $dsared;
	background-color: $dsared;
	border: 1px solid red;
	text-transform: uppercase;
	a {
		display: inline-block;
		font-weight: bold;
		color: white;
		background-color: $dsared;
		text-transform: uppercase;
		text-decoration: none;	
	}
	ul {
		margin:  0;
		padding: 0;
		list-style-type: none;
		li {
			display: inline-block; 
			font-weight: bold; 
			color: white; 
			background-color: $dsared; 
			border: 1px solid red; 
			text-transform: uppercase;
			a {
				display: inline-block;
				font-weight: bold;
				color: white;
				background-color: $dsared;
				text-transform: uppercase;
				text-decoration: none;	
			}
		}
	}
}

.single__title {
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	font-size: 2.75rem;
	margin: .25em 0;
	margin-top: .125em;
	a {
		text-decoration: none;
		color: black;
		transition: color .3s, border-bottom .3s;
		&:hover, &:focus {
			color: red;
			border-bottom: 2px solid red;
		}
	}
	@media screen and (max-width: 600px) {
		font-size: 2rem;
	}
}

.single__metadata {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	font-family: "Inconsolata", monospace;
	color: $dsared;
}

.single__author {

}

.single__slashes {
	padding: 0 .5rem;
	color: black;
}

.single__date {

}

/* End metadata */

.blog-content-wrapper {
	& > p:first-of-type {
		&::first-letter {
			float: left;
			padding-right: 6px;
			font-family: "Raleway", sans-serif;
			font-size: 4.5rem;
			font-weight: 900;
			line-height: .875;
			color: $dsared;
			@media screen and (max-width: 600px) {
				font-size: 3rem;
				line-height: 1;
			}
		}
	}
}

.single__content {
	position: relative;
	padding: 2rem 0 3rem 0;
	p {
		span {
			a {

			}
		}
	}
	a {
		text-decoration: none;
		color: black;
		border-bottom: 2px solid $dsared;
		transition: background-color .3s;
		&:hover, &:focus {
			background-color: $dsared;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Raleway", sans-serif;
		font-weight: 900;
		line-height: 1;
		padding-bottom: .25em;
		strong {
			font-weight: 900;
		}
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 900;
		border-bottom: 1px solid hsl(0, 0%, 70%);
	}

	h3 {
		font-size: 2rem;
		border-bottom: 1px solid hsl(0, 0%, 70%);
	}

	h4 {
		font-size: 1.625rem;
	}

	h5 {
		font-size: 1.33rem;
	}

	img {
		display: block;
		max-width: 100%;
		max-height: 500px;
		margin: 1rem auto;
	}

	hr {
		width: 100%;
		height: 1px;
		border-top: 1px solid $dsared;
		border-bottom: 0px solid black;
	}

	blockquote {
		margin: 1em 0;
		padding: 0 1.5em;
		border-left: 2px solid $dsared;
		color: hsl(0, 0%, 50%);
		p {

		}
	}

	ul {
		position: relative;
		padding-left: 1.75em;
		line-height: 1.5;
		list-style-type: none;
		li {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: -22px;
				top: 8px;
				display: block;
				height: 6px;
				width: 6px;
				background-color: $dsared;
				border-radius: 50%;

			}	
		}
	}

	ol {
		position: relative;
		padding-left: 1.75em;
		counter-reset: my-awesome-counter;
		line-height: 1.5;
		li {
			position: relative;
			counter-increment: my-awesome-counter;
			list-style-type: none;
			&:before {
				content: counter(my-awesome-counter) ". ";
				position: absolute;
				left: -24px;
				top: 0px;
				font-weight: bold;
				color: $dsared;
			}
		}
	}
}