---
---
// Main style file

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	p {
		line-height: 1.5;
	}
}

// vars
@import 'colors';

// nav
@import 'menu';

// homepage
@import '_homepage/landing-page';
@import '_homepage/about-section';
@import '_homepage/resources-section';

// pages
@import '_pages/about-page';
@import '_pages/join';
@import '_pages/blog';
@import '_pages/resources-page';
@import '_pages/contact';
@import '_pages/projects';
