// Main style file

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	p {
		line-height: 1.5;
	}
}

// vars
@import '_scss/colors';

// nav
@import '_scss/menu';

// homepage
@import '_scss/_homepage/landing-page';
@import '_scss/_homepage/about-section';
@import '_scss/_homepage/resources-section';

// pages
@import '_scss/_pages/about-page';
@import '_scss/_pages/join';
@import '_scss/_pages/blog';
@import '_scss/_pages/resources-page';