/* About: */

.homepage__about {
	padding-top: 3rem;
}

.homepage-about__text-wrapper {
	position: relative;
	display: grid;
	//width: calc(100%;
	padding: 0 8.33%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: "t t t i i"
				   		 "t t t . .";
}

.homepage-about__title {
	position: relative;
	margin: 0;
	padding: .25em 0;
	font-size: 2.5rem;
//	border-bottom: 4px solid $dsared;
	&::before {
		content: '';
		position: absolute;
		top: calc(100% - 8px);
		left: 0;
		display: block;
		height: 6px;
		width: 100%;
		background-color: $dsared;
		background-image: linear-gradient(to bottom right, rgba(255,0,0,.1), rgba(255,0,0,.3)), url('../img/red-splatter.jpg');
		background-size: cover;
		background-position: bottom left;
	}
}

.homepage-about__text {
	position: relative;
	grid-area: t;
}

.homepage-about__involved {
	position: relative;
	grid-area: i;
	margin-left: 4.167vw;
	padding: 1em;
	border: 2px solid black;
}

.homepage-involved__title {
	font-size: 2.5rem;
}

.homepage-involved__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.homepage-involved__list-item {
	a {
		text-decoration: none;
		color: red;
		transition: color .3s;
		&:hover, &:active {
			color: black;
		}
	}
}