/* Menu CSS */

.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
}

.nav-content-wrapper {
	display: flex;
	justify-content: space-between;
	height: 60px;
	padding-right: 1.5rem;
//	border: 2px solid $dsared;
	background-color: hsla(0, 0, 0, .8); //$dsared;
}

.nav-content__img-wrapper {
	position: relative;
//	height: 60px;
	a {

		img {
			height: 60px;
		}
	}
}

ul.nav-content__link-list {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

li.nav-list__link {
//	height: 60px;
	line-height: 2;
	padding: 0 .5rem;
	a {
		font-weight: bold;
		text-decoration: none;
		color: $dsared;
		transition: color .3s, border-bottom .3s;
		&:hover, &:focus {
			color: white;
			border-bottom: 2px solid white;
		}
		// 'Get Involved'

	}
	&:last-of-type {
		a {
			padding: .5rem;
			border-radius: 5px;
			color: white;
			background-color: red;	
		}
		
	}
}