/* Resources */

.homepage__resources {
	padding: 0 8.33%;
}

.homepage-resources__title {
	position: relative;
	margin: 0;
	padding: .25em 0;
	font-family: "Raleway", sans-serif;
	font-size: 2.5rem;
	&::before {
		content: '';
		position: absolute;
		top: calc(100% - 8px);
		left: 0;
		display: block;
		height: 6px;
		width: 100%;
		background-color: $dsared;
		background-image: linear-gradient(to bottom right, rgba(255,0,0,.1), rgba(255,0,0,.3)), url('../img/red-splatter.jpg');
		background-size: cover;
		background-position: bottom left;
	}
}

.homepage-resources__item-wrapper {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	padding-left: 0;
	list-style-type: none;
}

.homepage-resources__item {
	max-width: calc(50vw - 8.33vw - 4rem);
	min-width: calc(312px);
	padding: 1rem;
	margin: .5rem;
	margin-left: 0;
	margin-right: 1rem;
	border: 2px solid black;
	a {
		text-decoration: none;
	}
	p {

	}
}

.homepage-resources__link--1 {

}

.homepage-resources__link--2 {
	
}