---
layout: base
---

<main class="single-wrapper">
	<div class="single__back-button">
		<a class="single-button__link" href="{{ '/blog' | relative_url }}"><< Back to Blog</a>
	</div>

	<div class="single__title-wrapper">
		<div class="single__category">{{ page.categories[0] }}</div>
		<h1 class="single__title">{{ page.title }}</h1>
	</div>

	<div class="single__metadata">
		<div class="single__author"><span>By:</span> <span>{{ page.author }}</span></div>
		<div class="single__slashes"> // </div>
		<div class="single__date"><span>Posted:</span> <span>{{ page.date | date: "%B %-d, %Y" }}</span></div>
	</div>

	<article class="single__content">
		<div class="blog-content-wrapper">
		{{ content }}
		</div>
	</article>

</main>